@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

:root {
    --color1: #15131F;
    --color2: #181138;
    --color3: #2E216B;
    --color4: #48416B;
    --color5: #7C70B8;
    --font-special: 'Bungee', Arial, Helvetica, sans-serif;
}

@media screen and (min-width:768px) {

    header#cabecalho {
        background-image: url(../imagens/pc.jpg);
        background-size: cover;
        color: white;
        text-shadow: 2px 2px 2px black;
    }

    main{
        /*background-color: rgba(5, 49, 120, 0.486);*/
        background-color: rgba(128, 128, 128, 0.315);
    }

    section {
        max-width: 650px;
        margin: auto;
        background-color: white;
        padding: 10px;
    }

    footer{
        width: 100%;
        position: absolute;
    }

    img#contact-imagem{
        display: inline-block;
        width: 200px;
        position: relative;
        left: -5%;
        top: -25%;
    }

    form {
        display: inline-block;
        position: relative;
        top: -45%;
        left: 5%;
    }

    li{
        padding: 10px;
    }
}